# Núcleo científico
numpy==1.26.4
pandas==2.3.2

# Imágenes
opencv-python==4.9.0.80
pillow==11.3.0
pydicom==3.0.1
scikit-image

# ML / IA
tensorflow==2.16.1

# Utilidades
python-dotenv==1.1.1
requests==2.32.5
matplotlib

# PDF
reportlab>=3.6.0

# Solo si Tkinter lo necesita
tkcap==0.0.3